%logoBase {
  fill: none;
  stroke: #f5685c;
}

%content {
  h2 {
    margin-top: 0;
    margin-bottom: 1.5 rem;
    padding: 1rem 0;
    @media (min-width: 900px) {
      font-size: 2.5vw;
    }
  }
  p {
    padding-bottom: 16px;
  }

  img.alignright {
    float: right;
  }

  img.alignleft {
    float: left;
  }
}

.common {
  &__container {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: repeat(auto-fit, auto);
    grid-row-gap: 2rem;
    width: 100%;
    grid-auto-flow: row;

    @media screen and (min-width: 900px) {
      grid-column-gap: 30px;

      grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    }
  }

  h2 {
    vertical-align: top;
    margin: 0;
  }

  &__content,
  &__content--left-aligned,
  &__content--right-aligned,
  &__feature__subheading--left,
  &__feature__subheading--right {
    @extend %content;
  }

  &__content--full-width {
    @extend %content;
    grid-column: 2 / span 1;
    @media screen and (min-width: 900px) {
      grid-column: 2 / span 3;
    }
  }

  &__left {
    text-align: right;
  }
}

.no-scroll {
  position: fixed;
}
