.navbar {
  font-family: 'Raleway', sans-serif;

  @media screen and (min-width: 900px) {
    height: auto;
    position: relative;
    display: inline-block;
    transform: none;
    transition: none;
    width: auto;
  }

  &__close-button {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    svg {
      stroke: $black;
      stroke-linecap: round;
      stroke-width: 5;
    }
  }

  button {
    padding: 0;
    background: none;
    border: 0;
    width: 3 * $base-spacer;
    height: 3 * $base-spacer;
  }

  ul {
    list-style-type: none;
    padding: 0;
    height: 100vh;

    @media screen and (min-width: 900px) {
      height: auto;
    }

    li {
      font-size: 1.5rem;
      padding: 0.5rem 0;
      margin-right: 1rem;
      margin-bottom: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      @media screen and (min-width: 900px) {
        text-transform: uppercase;
        float: left;
        font-size: 1rem;
        border-bottom: 0;
        padding: 0;
      }
      &:first-of-type,
      :last-of-type {
        border-bottom: none;
      }
    }
  }

  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  background: #fff;
  z-index: 10;
  width: 75vw;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;

  &__visible {
    transform: translateX(0%);
  }

  &__overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
