.container {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr 0.1fr;
  grid-template-rows: repeat(auto-fit, auto);
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
  width: 100%;
  grid-auto-flow: row;

  @media screen and (min-width: 900px) {
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  }
}

h2 {
  vertical-align: top;
  margin: 0;
}

.textBackground {
  @media screen and (min-width: 900px) {
    background: rgba(255, 255, 255, 0.2);
    padding: 0.1rem;
    box-shadow: 0.5rem 0 0 rgba(255, 255, 255, 0.2),
      -0.5rem 0 0 rgba(255, 255, 255, 0.2);
  }
}

.contentLeftAligned,
.contentRightAligned,
.featureSubHeadingLeft,
.featureSubHeadingRight {
  grid-column: 2 / span 3;
}

.left {
  text-align: right;
}

.content {
  grid-column: 2 / span 3;
}
