.container {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr 0.1fr;
  grid-template-rows: repeat(auto-fit, auto);
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
  width: 100%;
  grid-auto-flow: row;

  @media screen and (min-width: 900px) {
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  }
}

h2 {
  vertical-align: top;
  h2 {
    margin: 0;
  }
}

.contentLeftAligned,
.contentRightAligned,
.featureSubHeadingLeft,
.featureSubHeadingRight {
  grid-column: 2 / span 3;
}

.left {
  text-align: right;
}

.content {
  grid-column: 2 / span 3;
}
